header#header
    style(type="text/css").
        .form-control {
            font-size: 1.5rem !important;
            height: calc(2.75rem + 2px) !important;
        }
    div(class="form-group row")
        div(class="col-xs-1.5")
            select(id="teamselect" class="form-control lead")
                option(value="All") Full NBA
                option(value="DavidsTheYounger") Davids The Younger
                option(value="DavidsTheWiser") Davids The Wiser
        div(class="col-xs-1.5")
            select(id="dateselect" class="form-control lead")
                option(value="Full") Full Season
                option(value="FullPerGame") Per Game
                option(value="Today") Today
                option(value="Yesterday") Yesterday
                //- HARDCODED DATES TO MIDSEASON
                //- if monday show last week
                if (new Date('2018-01-22')).getDay() === 1
                    option(value="Weekly") #{new Date((new Date('2018-01-22')).setDate((new Date('2018-01-22')).getDate() - 7)).toLocaleString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'}) + '-' +  new Date((new Date('2018-01-22')).setDate((new Date('2018-01-22')).getDate() - 1)).toLocaleString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'})}
                //- else show this week
                else
                    option(value="Weekly") #{new Date((new Date('2018-01-22')).setDate((new Date('2018-01-22')).getDate() - (new Date('2018-01-22')).getDay() + 1)).toLocaleString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'}) + '-' +  new Date((new Date('2018-01-22')).setDate((new Date('2018-01-22')).getDate() + 6 - (new Date('2018-01-22')).getDay() + 1)).toLocaleString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'})}
        //- div(class="col-xs-1.5")
        //-     select(id="pointselect" class="form-control lead")
        //-         option(value="Real") Real stats
        //-         option(value="Fantasy") Fantasy points