header#header
    div(class="form-group row")
        div(class="col-xs-3")
            select(id="teamselect" class="form-control")
                option(value="All") Full NBA
                option(value="DavidsTheYounger") Davids The Younger
                option(value="DavidsTheWiser") Davids The Wiser
        div(class="col-xs-3")
            select(id="dateselect" class="form-control")
                option(value="Full") Full Season
                option(value="Today") Today
                option(value="Yesterday") Yesterday
        div(class="col-xs-3")
            select(id="pointselect" class="form-control")
                option(value="Real") Real stats
                option(value="Fantasy") Fantasy points